/* header of widgets colour */
.header {
  font-size: 14px;
  font-weight: bold;
  color: #e65c60;   /* #111184    4a6741 e65c60*/
  margin-bottom: 10px;
}

.widget-box {
  background-color: rgba(24, 24, 37, 0.7);
  border-radius: 5px;
  padding: 1px;
  border: none;
  min-width: 100px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  color: #dddddd;
}
/* ascii font colour */
.ascii-box {
  background-color: rgba(24, 24, 37, 0.7);
  border-radius: 12px;
  padding: 12px;
  border: none;
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 12px;
  color: #A020F0;  /*A020F0   9aff6b*/
}

/* ADD these new classes for the system info: */
.info-row {
  margin: 4px 0;
  min-height: 20px;
}

.icon {
  font-size: 14px;
  color: #98bb6c;
  margin-right: 8px;
  min-width: 20px;
}
/* ADD these new classes for the system info: WORD COLOUR CHANGED HERE AND SIZE */
.info-text {
  font-size: 12px;
  color: #9aff6b;
  font-weight: 400;
}
.youtube-button {
  font-size: 20px;
  color: #FF0000;
  background: transparent;
  padding: 6px;
}
.widget-button {
  font-size: 20px;
  color: #cdd6f4;
  background: transparent;
  padding: 6px;
}

/* power button */

